RPC_URL=https://rpc.ankr.com/bsc/
PRIVATE_KEY=
CHAIN_ID=56
WBNB_ADDRESS=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c
ROUTER_V2_ADDRESS=0x10ed43c718714eb63d5aa57b78b54704e256024e
LOG_LEVEL=info
TELEGRAM_BOT_TOKEN=794431:AAH72RqUaevy_nk7BttAGVEqAXXXXXXX
TELEGRAM_CHAT_ID=-1002184XXXXXX
